/* <!--at first mountain is palced and on mountain the man is placed to make the parallax effect transform style=presereve 3d is used and the the heading adventure is place dat the top so it is maken absolute--> */
/* <!--mountain-far back,man-mid layer,adventure-top layer--> */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper
{
   
    /* <!--100vh means it takes the entire height of the screen from top to bottom--> */
    height:100vh;
    /* <!--overflow-x manje right side la scroll nahi honar-->   */
    overflow-x: hidden;
    overflow-y: auto;
    /* <!--perspective manje distance between z=0 cha plane and aple eyes--> */
    /* <!--perspective is the distance between viwer and 3d screen ani toh crucial part ahe in making the 3d parallax effect-->  */
    perspective: 10px;
}
/* <!--ya container madhe 3d game khelayavha--> */
.container
{
    /* <!--it will remain in the same as original place--> */
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    transform-style: preserve-3d;
    /* z-index: -1 to put the mountain behind the man*/
    z-index: -1;
}
.background
{
    /* <!--translate z ni image lamb jate bharpur and we can zoom it by scale> */
    transform: translateZ(-40px) scale(6);
}
.foreground{
    /* <!--foreground madhi ahe bacground image chya--> */
    transform: translateZ(-25px) scale(4);
}
.background,.foreground
{
    position:absolute;
    /* <!--the element height and width will be as that of the parent element ie container--> */
    height:100%;
    width:100%;
    /* <!--adventure text kutetari khali hota then it comes to front after giving the z-index--> */
    z-index: -1;
    /* <!--It fits the image inside the container completely--> */
    object-fit: cover;
}
h1{
    position:relative;
    font-size: 150px;
    font-style: normal;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: -150px;
    left:auto;
    right:auto;
    margin:10px;
    padding:10px;
    transform:translateX(-1%);
    text-shadow: 2px 2px 4px black, 2px 2px 6px black, 2px 2px 8px black;
    letter-spacing: 3px;
}
section{
    background-color: rgb(45,45,45);
    color:white;
    /* <!--set karta padding inside the element--> */
    padding: 1rem 0;
}
/* <!--image sathi use kelili property manje background--> */
.bg1
{
    background: url('sport-1.jpg');
   
}
.bg2
{
    background: url('sport-2.jpg');

}
.bg3
{
    background: url('sport-3.jpg');

}
.secheading
{
  font-size: 50px;
  /* <!--0-means top and bottom is zero and 1rem is 16px) */
  padding: 0 5rem;
  text-shadow: 4px 4px 6px red;
  top:100px;
  left:auto;
  right:auto;
  margin:10px;
  padding:10px;
  transform:translateX(-1%);
}
.text
{
    font-size: 1.5rem;
    padding: 0 5rem;
    top:-100%;
    left:auto;
    right:auto;
    margin: 5rem 0;
    stroke: black;
    stroke-width: 2px;
    transform:translateX(-1%);
    font-style: oblique;
    text-shadow: 2px 2px 4px whitesmoke, 2px 2px 6px white, 2px 2px 8px black;
    letter-spacing: 3px;
 
}
.bg{
    position:relative;
    width:100%;
    height:500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  background-clip: border-box;
}
.desc
{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    top:250px;
    left:500px;
    transform: translateX(-50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px whitesmoke, 2px 2px 6px black, 2px 2px 8px black;
    letter-spacing: 3px;
}

